
body {
  background-color: #212529;
 font-family: 'Roboto Slab', serif;
}
nav {
    padding: 1%;
    margin: 2%;
    margin-left: 20%;
    margin-right: 20%;
    background:#ffffff;
    border: 2px;
    border-radius: 20px;
}
ul{
    list-style: none;
    font-size: 0;
    padding: 0;
    margin: 0;
    
    text-align: center;
  }

  ul li{
    
    display: inline-block;
    border: rgb(238, 236, 240);
    padding: 1%;
    margin: 1%;
    background-color: #5005F2;
    box-shadow: 0 2px #cccccc;
    margin-top: 5%;
    margin-bottom: auto;
  }

  ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
