
nav {
    padding: 0;
    margin: -1%;
    background: rgb(202, 222, 224);
}
ul{
    list-style: none;
    font-size: 0;
    padding: 0;
    margin: 0;
    text-align: center;
  }

  ul li{
    
    display: inline-block;
    border: rgb(57, 9, 88) 2px solid;
    border-radius: 50px;
    padding: 1%;
    margin: 2%;
    background-color: rgb(159, 46, 235);
  }

  ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
